.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
    text-align: center;
}

.banner Img{
    position: relative;
    float: right; 
    right: 10px;
    height: 80px;
}